header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url('../img/woodpicHD.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.btn-orange {
  color: #222;
  background-color: rgba(234, 106, 32, 0.5);
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange.focus,
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  color: #222;
  background-color: rgba(220, 94, 21, 0.5);
  border-color: #ededed;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  background-image: none;
}
.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled.focus,
.btn-orange[disabled].focus,
fieldset[disabled] .btn-orange.focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
  background-color: rgba(234, 106, 32, 0.5);
  border-color: white;
}
.btn-orange .badge {
  color: rgba(234, 106, 32, 0.5);
  background-color: #222;
}
.btn-orange:hover {
  color: #222;
  background-color: #ea6a20;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-orange:hover:hover,
.btn-orange:hover:focus,
.btn-orange:hover.focus,
.btn-orange:hover:active,
.btn-orange:hover.active,
.open > .dropdown-toggle.btn-orange:hover {
  color: #222;
  background-color: #dc5e15;
  border-color: #ededed;
}
.btn-orange:hover:active,
.btn-orange:hover.active,
.open > .dropdown-toggle.btn-orange:hover {
  background-image: none;
}
.btn-orange:hover.disabled,
.btn-orange:hover[disabled],
fieldset[disabled] .btn-orange:hover,
.btn-orange:hover.disabled:hover,
.btn-orange:hover[disabled]:hover,
fieldset[disabled] .btn-orange:hover:hover,
.btn-orange:hover.disabled:focus,
.btn-orange:hover[disabled]:focus,
fieldset[disabled] .btn-orange:hover:focus,
.btn-orange:hover.disabled.focus,
.btn-orange:hover[disabled].focus,
fieldset[disabled] .btn-orange:hover.focus,
.btn-orange:hover.disabled:active,
.btn-orange:hover[disabled]:active,
fieldset[disabled] .btn-orange:hover:active,
.btn-orange:hover.disabled.active,
.btn-orange:hover[disabled].active,
fieldset[disabled] .btn-orange:hover.active {
  background-color: #ea6a20;
  border-color: white;
}
.btn-orange:hover .badge {
  color: #ea6a20;
  background-color: #222;
}
