@import "variables.less";
@import "mixins.less";



header {
    position: relative;
    width: 100%;
    min-height: auto;
    .background-cover;
    z-index: -1;
    background: url('../img/woodpicHD.jpg') no-repeat center center fixed;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-attachment:fixed; 
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center; 
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: fade(white, 70%);
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Button Styles
.btn-orange {
    .button-variant(@theme-dark;rgba(234,106,32,.5);white);
    &:hover {
        .button-variant(@theme-dark;rgba(234,106,32,1);white);
    }
}